body{
	margin:0;
}
.logo{
	width:100%;
	margin:auto;
	margin-top:40px;
	padding-bottom:20px;
	border-bottom:1px solid black
}
.logo a{
	font-weight: bold;
	text-decoration:none;
	font-size: 30px;
	margin-left:40%;
	
}


.nav{
	margin-top:20px;
	margin-left: 36%;
	margin-bottom: -50px;
}
.nav ul li{
	float: left;
	list-style: none;
	padding-left:20px;
	position: relative;
}
.nav ul li a{
	font-weight: bold;
	color:black;
	text-transform:capitalize;
	text-decoration:none;
}
.nav ul li a:hover{
	color:#8F8F8F;
}
.nav ul li ul {
	margin-left: -60px;
	position: relative;
	left: -9999px;
}
.nav ul li ul li{
	margin-top: 10px;
	float: none;
}
.nav ul li:hover ul{
	display: block;
	left :0px;
} 




.post{
	width:100%;
	margin:50px 30px;
}
.post .left-side{
	width:80%;
	float:left;
	overflow:hidden;
}
.post .left-side a{
	text-decoration:none;
}
.post .right-side{
	width:20%;
	overflow:hidden;
}
.post .right-side a{
	text-decoration:none;
	border:1px solid black;
	padding:10px;
	color:#8F8F8F;
}


.text{
	text-align:center;
	margin-top:80px;
}
.text h1{
	font-size:65px;
}
.text h5{
	font-size:20px;
	margin-top:40px;
}
.slidshow{
	margin-top:100px;
}


.sercives{
	margin-top:100px;
	text-align:center;
}
.sercives h4{
	padding-top:40px;
	padding-bottom:100px;
}
.sercives h3{
	font-size:20px;
	padding-top:40px;
	padding-bottom:40px;
}
.frm input[type="text"],
.frm input[type="email"],
.frm input[type="phone"] {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 10px 5px;
	font-size: 18px;
}.frm input[type="message"]{
	display: block;
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid black;
	padding-top:10px;
	padding-bottom:60px;
	padding-left:5px;
	padding-right:5px;
	font-size: 18px;
}
.frm input[type="email"]::placeholder,
.frm input[type="message"]::placeholder,
.frm input[type="phone"]::placeholder,
.frm input[type="text"]::placeholder{
	color:#8F8F8F;
	text-transform:capitalize;
	padding:30px 10px;
}
.frm input[type="submit"] {
	color: #FFFFFF;
	cursor: pointer; 
	background: black;
	padding: 18px 50px;
	font-weight: bold;
	margin-left:33%;
	margin-top:20px;
}
.frm h1{
	text-align:center;
	margin-bottom:50px;
}
.frm {
	width: 40%;
	overflow: hidden;
	margin-left:30%;
	margin-top:100px;
}
.blog{
	width:100%;
	overflow:hidden;
	border:1px solid #8F8F8F;
	padding:20px 0px;
	margin-bottom:40px;
}
.house-img{
	width:40%;
	float:left;
	overflow:hidden;
	padding:40px 10px;
}
.house-img img{
	width:100%;
	
}
.view-post{
	width:59%;
	overflow:hidden;
}
.name h5{
	overflow:hidden;
	margin:0px;
	padding-left:20px;
	color:#8F8F8F;
}
.home {
	width:90%;
	margin-left:20px;
	margin-top:20px;
}
.home a{
	font-size:35px;
	text-decoration:none;
	color:black;
}
.home p{
	width:90%;
	margin:30px 0px;
	line-height:25px;
	color:#8F8F8F;
}
.pic{
	margin-top:200px;
}




.footer{
	width:100%;
	margin-top:150px;
}
.icon{
	overflow:hidden;
	margin:0% 40%;
	padding:20px 0px;
}
.icon ul{
	list-style:none;
}
.icon ul li{
	float:left;
	margin-left:20px;
	overflow:hidden;
	font-size:25px;
	
}
.icon ul li a{
	color:black;
}
.link{
	text-align:center;
	margin:20px;
}






















